body{
    background-color: #9D8420 ;
    color: #942911;
}

#form, #form_meme{
    position: relative;
    background-color:#94B9AF ;
    border-radius: 100%;
    width: 540px;
    height:540px;
    margin: 0 auto;
    text-align: center;
}

#form_meme{
    border-radius: 0px;

}

h1{
   text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    
    text-align: center;
    align-items: flex-end;
    width: 270px;
    margin:0 auto;
}

#form_child{
    position: absolute;
    top:20%;
    left:20%;
}

button{
    margin:0 auto;
    margin-top: 10px;
}

input{
    border-radius: 25px;
    margin:5px;
}

#form_meme{

}